<app-navbar [showLogOutButton]='navbarButton'></app-navbar>
<div class="main-site">

    <div class="content">
        <h1>Forgot your password?</h1>
        <form (submit)="sendResetMail($event)" #forgotPasswordForm="ngForm">
            <div class="form-inputs">
                <span>
                    We will send you an email with instructions to reset your password.
                </span>
                <input type="email" name="email" placeholder="Email Address" [(ngModel)]="email" required ngModel>
                <div class="laber-container">
                    <label for="email" [class.d-none]="!wrongEntry"><img src="assets/img/warning.png">Email don`t
                        excist!</label>
                </div>                          
            </div>

            <div class="form-buttons">
                <button type="submit" [disabled]="!forgotPasswordForm.valid" [class.inputs-not-validate]="!forgotPasswordForm.valid">Send Mail</button>                
            </div>
        </form>
    </div>

    <app-guidelines></app-guidelines>
    <app-notification-banner [bannerNotice]="'Email was sent'" *ngIf="videoservice.showBanner"></app-notification-banner>

</div>