@import '../../../../mixin.scss';

.main-site {
    background-image: url('../../../../assets/img/background-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    @include display-align-justify();
    flex-direction: column;
    overflow-y: hidden;
}

.content {
    background-color: #ffffff;
    height: 435px;
    width: 408px;
    padding: 43px 56px;
    border-radius: 48px;
    @include display-align-justify($j: unset);
    flex-direction: column;
    gap: 32px;

    h1 {
        @include font-size-color($fs: 48px, $fc: #2E3EDF, $fw: 700);
    }

    form {

        @include display-align-justify();
        flex-direction: column;
        gap: 32px;
        height: 100%;
        width: 100%;

        .form-inputs {
            @include display-align-justify($a: unset);
            flex-direction: column;
            gap: 16px;
            width: 100%;


            input {
                border: 1px solid #2e3edf;
                border-radius: 12px;
                padding: 12px 24px;
                @include font-size-color($fc: #2E3EDF);

                &::placeholder {
                    @include font-size-color($fc: #2E3EDF);
                }

                &:hover {
                    border: 1px solid #2e3edf99;
                }

                &:focus-visible {
                    outline: 1px solid rgba(46, 62, 223, 0.8);

                }
            }

            .laber-container {
                height: 21px;
                margin: -16px 0 -9px 0;
                position: relative;

                label {
                    @include font-size-color($fs: 16px, $fc: #FF002E);
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img {
                        position: unset;
                    }
                }

                img {
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: -35.5px;
                }
            }
        }

        .form-buttons {
            padding-top: 20px;
            width: 100%;
            @include display-align-justify();
            flex-direction: column;
            gap: 16px;

            button {
                cursor: pointer;
                background-color: #2E3EDF;
                padding: 12px 24px;
                border: none;
                border-radius: 40px;
                @include font-size-color($fs: 18px, $fw: 700);

                &:hover {
                    background-color: #2e3edf99;
                }
            }

            .inputs-not-validate {
                cursor: no-drop;
                background-color: #2e3edf99;
            }
        }
    }
}

@media (max-width: 550px) {
    .content {
        height: 50vh;
        width: 90%;
    }
}