<div class="content">

  <video #previewVideoPlayer [muted]="true" autoplay="true" (loadedmetadata)="playInRange(previewVideoPlayer)">
    <source [src]="videoService.previewVideo.video_file" type="video/mp4">
  </video>

  <div class="video-description">
    <h1>{{ videoService.previewVideo.title }}</h1>
    <span>{{ videoService.previewVideo.description }}</span>
    <div>

      <button>
        <img src="assets/img/play_arrow.png" alt="">
        Play
      </button>
    </div>
    
  </div>

</div>