<div class="content">
  <div class="video-shadow-container">
    <div class="shadow-container-left"></div>
    <video #previewVideoPlayer [muted]="true" autoplay="false" (loadedmetadata)="playInRange(previewVideoPlayer)">
      <source [src]="videoService.previewVideo.video_file" type="video/mp4">
    </video>
  </div>

  <div class="video-description">
    <h1>{{ videoService.previewVideo.title }}</h1>
    <span>{{ videoService.previewVideo.description }}</span>
    <div>

      <button (click)="playVideo(videoService.previewVideo)">
        <img src="assets/img/play_arrow.png" alt="">
        Play
      </button>
    </div>

  </div>

</div>