@import '../../mixin.scss';

.guidelines {
    position: absolute;
    left: calc(50% - 125.24px);
    bottom: 20px;
    display: flex;
    gap: 48px;

    a {
        @include font-size-color($fw: 500);
        text-decoration: none;

        &:hover {
            color: #ffffff80;
        }
    }
}