@import '../../../../mixin.scss';

.content {
    width: 240px;
    height: 125px;
    @include display-align-justify;

    video {
        height: 120px;
    }

    img {
        height: 120px;
        cursor: pointer;

        &:hover {
            height: 125px;
        }
    }
}

@media (max-width: 700px) {
    .content {
        width: 190px;
        height: 101px;

        video {
            height: 96px;
        }

        img {
            height: 96px;

            &:hover {
                height: 101px;
            }
        }
    }
}