<div class="video-selection">
    <h3>{{categoryName }}</h3>
    <div class="videos">
        <app-video *ngFor="let singleVideo of videos" [video]="{
            id: singleVideo.id,
            title: singleVideo.title,
            description: singleVideo.description,
            video_file: singleVideo.video_file,
            thumbnail: singleVideo.thumbnail, 
            created_at: singleVideo.created_at, 
            played_time: singleVideo.played_time,
            duration: singleVideo.duration,
            watched: singleVideo.watched,
        }"></app-video>
</div>
