@import '../../../../mixin.scss';

.video-selection {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding-left: 96px;

    h3 {
        @include font-size-color($fs: 22px, $fw: 700)
    }

    .videos {
        @include display-align-justify($j: left);
    }
}

@media (max-width: 700px) {
    .video-selection {

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 550px) {
    .video-selection {
        padding-left: 16px;
    }
}