<app-navbar *ngIf="!videoService.playVideo"></app-navbar>
<div class="content" *ngIf="videoService.loadContent">
    <app-previewvideo></app-previewvideo>

    <div class="video-content">
        <app-videoslideshow 
        [categoryName]="'New on Videoflix'" 
        [videos]="videos"></app-videoslideshow>

        <app-videoslideshow 
        *ngFor="let category of getCategories()"
        [categoryName]="category" 
        [videos]="groupedVideos[category]" 
        ></app-videoslideshow>
    </div>    
</div>

<div class="video-player" *ngIf="videoService.playVideo">
    <span (click)="videoService.returnToVideoSelection()">{{ videoService.videoContent.title }}</span>
    <app-videoplayer></app-videoplayer>
</div>