<!-- <div class="content">
    <video #videoPlayer autoplay controls playsinline preload="auto">
        <source [src]="videoService.videoContent.video_file" type="video/mp4">
    </video>    
</div> -->

<vg-player  (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar [vgSlider]="true">
        <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls 
    [vgAutohide]="true"
    [vgAutohideTime]="1"
    >
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-quality-selector [bitrates]="dashBitrates"
                             (onBitrateChange)="setBitrate($event)">
        </vg-quality-selector>
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video *ngIf="videoService.videoContent.watched" #videoPlayer [autoplay]="false" [vgMedia]="$any(videoPlayer)" id="videoPlayer" preload="auto" crossorigin>
        <source [src]="videoService.videoContent.video_file" type="video/mp4">
    </video>
    <video *ngIf="!videoService.videoContent.watched" #videoPlayer [autoplay]="false" [vgMedia]="$any(videoPlayer)" id="videoPlayer" preload="auto" crossorigin>
        <source [src]="videoService.videoContent.video_file" type="video/mp4">
    </video>
</vg-player>