<app-navbar [showLogOutButton] = 'navbarButton'></app-navbar>
<div class="content">
<h1 class="adsimple-322907639">Impressum</h1>
<p class="adsimple-322907639">Informationen über den Diensteanbieter.</p>
<p class="adsimple-322907639">Jan Horstmann</p>
<p class="adsimple-322907639">Kolkweg 41, <br />26789 Leer(Ostfriesland), <br />Deutschland</p>
<p>
<strong>Tel.:</strong> 01522 3112545<br />
<strong>E-Mail:</strong> <a href="mailto:kontakt@jan-horstmann.eu">kontakt&#64;jan-horstmann.eu</a>
</p>
<div style="display:none">
</div>
<div style="display:none">
</div>
<div style="display:none">
</div>
<h2 id="eu-streitschlichtung" class="adsimple-322907639 fusion-responsive-typography-calculated" data-fontsize="24" style="--fontSize: 24;line-height: 1.5;--minFontSize: 24" data-lineheight="36px">EU-Streitschlichtung</h2>
<p class="adsimple-322907639">Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br />
Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter <a class="adsimple-322907639" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="follow noopener">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
<p class="adsimple-322907639">Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
<p>Alle Texte sind urheberrechtlich geschützt.</p>
<p style="margin-top:15px">Quelle: Erstellt mit dem <a href="https://www.adsimple.de/impressum-generator/" title="Impressum Generator Deutschland von AdSimple">Impressum Generator</a> von AdSimple</p>
</div>